.p-page__center {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.p-page__card {
    margin-bottom: 15px;
    padding: 1.6rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}
