.exp {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.inv {
    margin-left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #00AAFF;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.chip {
    display: flex;
    margin-top: 7px;
}

.texts {
    text-align: start;
    margin-left: 10px;
    margin-top: 5px;
}