@import '../../../sass/abstract/variables';
@import '../../../sass/abstract/mixin';
@import '../../../sass/components/input';
@import '../../../sass/utils/page';

.f-forgotPassword {
    background-color: $color-grey-lighter;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    &__card {
        background-color: $color-white;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.05);
        width: 50%;
        @media only screen and (max-width: 700px) {
            width: 80%;
        }
        @media only screen and (max-width: 468px) {
            width: 100%;
        }

        a {
            text-decoration: none;
        }
    }

    &__form {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    &__heading {
        font-size: 1.8rem;
        border-bottom: 1px solid #d0d0d0;
        padding: 1rem;
    }

    &__logo {
        background-color: $color-primary;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        color: $color-white;
        padding: 1rem;

        img {
            width: 40px;
            margin-right: 1rem;
        }
    }

    &__text {
        text-align: left;
        font-size: 1.4rem;
        color: $color-grey-dark;
        padding: 1.2rem 1.2rem 0 2rem;
    }

    &__bottom {
        padding: 2rem;
        margin-top: 0;
    }
}
