@import '../../../sass/abstract/variables';
@import '../../../sass/abstract/mixin';
@import '../../../sass/components/input';
@import '../../../sass/utils/page';

.c-chat {
    &__container {
        width: 100%;
        height: 100%;
    }

    &__box {
        width: 98%;
        max-width: 1100px;
        margin: 3rem auto;
        border: 1px solid #d0d0d0;
        overflow: hidden;
        display: flex;
        position: relative;
    }

    &__inbox {
        flex: 0 0 40%;
        border-right: 1px solid #d0d0d0;
        background: #f8f8f8;
    }

    &__user {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        transition: all 0.3s;
    }

    &__user.--userActive {
        transform: translateX(-100%);
    }

    &__inboxHead {
        font-size: 1.5rem;
        padding: 1rem 1rem;
        color: $color-primary;
        font-weight: 500;
        border-bottom: 1px solid #d0d0d0;
        display: flex;
        justify-content: space-between;
    }

    &__inboxNew {
        font-weight: 300;
        color: $color-grey-darker;
        font-size: 1.3rem;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }
    }

    &__userHead {
        font-size: 1.5rem;
        padding: 1rem 1rem;
        color: $color-white;
        font-weight: 500;
        border-bottom: 1px solid #d0d0d0;
        background-color: $color-primary;
        display: flex;
        justify-content: space-between;
    }

    &__userBack {
        font-weight: 300;
        color: $color-white;
        font-size: 1.3rem;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__inboxChats {
        height: 550px;
        overflow-y: scroll;
    }

    &__userLists {
        height: 550px;
        overflow-y: scroll;
        background-color: $color-white;
    }

    &__inboxChatList {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
        display: flex;
        cursor: pointer;
        transition: all 0.2s;

        &.--chatActive,
        &:hover {
            background-color: #ebebeb;
        }
    }

    &__userChatList {
        border-bottom: 1px solid #ebebeb;
        margin: 0;
        padding: 18px 16px 10px;
        display: flex;
        cursor: pointer;
        transition: all 0.2s;
        align-items: center;
    }

    &__userImage {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }

    &__info {
        margin-left: 1.2rem;
    }

    &__userName {
        font-size: 1.5rem;
        color: #464646;
        margin: 0 0 4px 0;
    }

    &__chatText {
        font-size: 1.2rem;
        color: #989898;
        margin: auto;
        font-weight: 300;
    }

    &__msgs {
        flex: 1 1;
    }

    &__msgHead {
        font-size: 1.4rem;
        padding: 1rem 1rem;
        color: #464646;
        font-weight: 500;
        border-bottom: 1px solid #d0d0d0;
    }

    &__msgBody {
        margin-bottom: 0;
        height: 100%;
    }

    &__chatMsgs {
        height: 470px;
        overflow-y: scroll;
        display: flex;
    }

    &__chatSend {
        padding: 1.6rem;
        margin-top: auto;
    }

    &__msgBox {
        width: 100%;
        padding: 1.6em;
        margin-top: auto;
    }

    &__msgBlock {
        width: 100%;
        display: block;
    }

    &__msgRight {
        display: flex;
        justify-content: flex-end;

        .c-chat__chatBubble {
            background-color: $color-primary;
            color: $color-white;
        }

        .c-chat__user {
            align-self: flex-end;
        }
    }

    &__msgLeft {
        display: flex;
        justify-content: flex-start;

        .c-chat__chatBubble {
            background-color: #ebebeb;
            color: #646464;
        }

        .c-chat__user {
            align-self: flex-start;
        }

        .c-chat__time {
            align-self: flex-end;
        }
    }

    &__chatBlock {
        max-width: 70%;
        display: flex;
        flex-direction: column;
    }

    &__chatBubble {
        padding: 1rem;
        border-radius: 0.3rem;
        font-size: 1.4rem;
        font-weight: 300;
    }

    &__time {
        color: #747474;
        font-size: 1.1rem;
        font-weight: 100;
    }

    &__user {
        color: #747474;
        font-size: 1.4rem;
        font-weight: 100;
    }
}
