@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
  0 -- 600px:     Phone
  600 -- 900px:     Tablet portrait
  900 -- 1200px:     Tablet landscape
  [1200 -- 1800]px is where our normal styles apply
  1800px:     Big desktop
  
  $breakpoint argument choices
  -phone
  -tab-port
  -tab-land
  -big-desktop
  
  1em - 16px
  */
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            @content;
        } //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {
            @content;
        } //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {
            @content;
        } //1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {
            @content;
        } //1800px
    }
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            @content;
        } //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {
            @content;
        } //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {
            @content;
        } //1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {
            @content;
        } //1800px
    }
}

@mixin defaultBtn {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: linear-gradient(to right, $color-primary, $color-secondary);
    box-shadow: 0px 9px 7px rgba(24, 119, 242, 0.24);
    border-radius: 7px;
    text-transform: capitalize;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    color: $color-white;
    margin-left: 1rem;

    .MuiButton-label {
        display: flex;
        justify-items: space-between;
    }

    &__progress {
        color: $color-white;
        position: absolute;
    }
    &:disabled,
    &[disabled] {
        opacity: 0.5;
    }

    img {
        margin-left: 2rem;
    }
}
