// COLORS
$color-primary: #1877f2;
$color-secondary: #00aaff;

$color-grey-light: #f5f3f4;
$color-grey-light-1: #c1c0c0;

$color-grey-dark: #595959;

$color-white: #ffffff;
$color-black: #000000;

// CSS BREAKPOINTS
$bp-largest: 75em; // 1200px;
$bp-larger: 68.75em; // 1100px;
$bp-medium: 56.25em; // 900px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 31.25em; // 500px;
