.i-textInput {
    width: 100%;
    background-color: $color-grey-light;
    font-size: 50px;
    color: $color-grey-light-1;

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: $color-primary;
    }

    .MuiInputBase-input {
        font-size: 1.4rem;
        font-family: 'Poppins', sans-serif;
    }

    .MuiInputLabel-outlined {
        font-size: 1.4rem;
        font-family: 'Poppins', sans-serif;
    }

    .MuiSwitch-colorPrimary.Mui-checked {
        color: $color-primary;
    }
}
